@font-face {
  font-family: 'Integral CF';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/integralCF/bold.otf') format('opentype');
}

@font-face {
  font-family: 'Integral CF';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/integralCF/regular.otf') format('opentype');
}

@font-face {
  font-family: 'Integral CF';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/integralCF/medium.otf') format('opentype');
}
