@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background-primary);
  color: var(--color-primary);
  min-height: 100svh;
  width: 100svw;
}

#app {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 420px), (max-height: 810px) {
  :root {
    font-size: 10px;
  }
}

@layer base {
  :root {
    --color-primary: #000000;
    --color-secondary: rgba(0, 0, 0, 0.6);
    --color-tertiary: #ffffff;
    --color-erased: rgba(0, 0, 0, 0.4);
    --color-border: rgba(0, 0, 0, 0.1);
    --color-discount: #ff3333;
    --background-discount: rgba(255, 51, 51, 0.1);
    --background-primary: #ffffff;
    --background-secondary: #9a9a9a;
    --background-tertiary: #f2f0f1;
    --background-accent: #f0f0f0;
    --background-complement: #000000;

    --max-width: 1440px;
  }
}
