body {
  background-color: var(--background-primary);
  color: var(--color-primary);
  width: 100svw;
}

#app {
  width: 100%;
  min-height: 100svh;
  overflow-x: hidden;
}

.main,
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  animation: 20s slide infinite linear;
}
